# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging / data
data/
build/

# Jupyter Notebook
.ipynb_checkpoints

# csv and zip files
.csv
.zip

